*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: darkgray;
}

.container{
    background-color: lightcyan;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 505px;
    border: black 3px solid;
    margin: 20px auto;
}

.horas{
    width: 20%;
    height: 500px;
    border-right: rgba( 75, 75, 75, 0.97) 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hora{
    flex-grow: 1;
    border-bottom: rgba( 75, 75, 75, 0.97) 1px solid;
    text-align: center;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.hora:last-child{
    border-bottom: none;
}

.dias{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 500px;
}
.dia{
    flex-grow: 1;
    border-right: rgba( 75, 75, 75, 0.97) 1px solid;
    width: 50px;
}

.dia:last-child{
    border-right: none;
}

.encabezado{
    border-bottom: rgba( 75, 75, 75, 0.97) 1px solid;
    padding: 18.5px;
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
}

.transversal{
    position: relative;
    top: 10px;
    left: 10px;
    width: 90%;
    height: 200px;
    border-radius: 15px;
    background-color: lightgray;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 5px 5px 10px black;
    font-family: Arial, Helvetica, sans-serif;
}

.sena{
    position: relative;
    top: 10px;
    left: 10px;
    width: 90%;
    height: 200px;
    border-radius: 15px;
    background-color: lightgreen;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 5px 5px 10px black;
    font-family: Arial, Helvetica, sans-serif;
}

.sena1{
    position: relative;
    top: 10px;
    left: 10px;
    width: 90%;
    height: 200px;
    border-radius: 15px;
    background-color: lightcoral;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 5px 5px 10px black;
    font-family: Arial, Helvetica, sans-serif;
}

.sena2{
    position: relative;
    top: 10px;
    left: 10px;
    width: 90%;
    height: 200px;
    border-radius: 15px;
    background-color: lightseagreen;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.sena3{
    position: relative;
    top: 10px;
    left: 10px;
    width: 90%;
    height: 200px;
    border-radius: 15px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.sena4{
    position: relative;
    top: 10px;
    left: 10px;
    width: 90%;
    height: 200px;
    border-radius: 15px;
    background-color: peachpuff;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.tecnica{
    position: relative;
    top: 25px;
    left: 10px;
    width: 90%;
    height: 200px;
    border-radius: 15px;
    background-color: lightblue;
    text-align: center;
    font-weight: bold;
    box-shadow: 5px 5px 10px black;
    font-family: Arial, Helvetica, sans-serif;
}

.descripcion{
    font-size: 9px;
    font-weight: normal;
    position: relative;
    top: 4px;
}

.imagen{
    width: 90px;
    height: 80px;
    position: relative;
    top: 15px;
    border-radius: 80px;
}
